global:
  scrape_interval:     30s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 30s # Evaluate rules every 15 seconds. The default is every 1 minute.

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 120s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'solar-exporter'
    scrape_timeout: 90s
    scrape_interval: 90s
    static_configs:
     - targets: ['solar-exporter:9942']
